.button {
  width: 100%;
  border-radius: 8px;
  border: 2px solid $mainFontColor;
  background: $mainFontColor;
  color: $buttonTextColor;
  text-align: center;
  line-height: 52px;
  font-size: 16px;
  font-weight: 700;

  transition: all 0.3s ease;

  @include onDesktop {
    grid-column: 1 / 5;
    cursor: pointer;

    @include hover(border, 2px solid #f0f1f4);
    @include hover(background, #f8f8fa);
    @include hover(color, $mainFontColor);
  }

  &:active {
    border: 2px solid $buttonBgColor;
    background: $buttonBgColor;
    color: $buttonTextColor;
  }
}
